* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f8f8f8;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002a44;
  padding: 10px 20px;
}

.navbar .logo {
  font-size: 24px;
  color: #f8f8f8;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-list li a {
  color: #f8f8f8;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  transition: color 0.3s;
}

.nav-list li a:hover {
  color: #cccccc;
}

.container {
  display: flex;
  margin: 1rem;
  column-gap: 2rem;
  align-items: start;
}

.image-section {
  flex: 1;
}

.doctor-image {
  width: 100%;
  max-width: 475px;
  border-radius: 10px;
}

.text-section {
  flex: 2;
  background-color: #2f4b65;
  padding: 2rem;
  color: #f8f8f8;
  border-radius: 8px;
}

.text-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.chat-button {
  background-color: #f8f8f8;
  color: #2f4b65;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration:none;
  font-size: 1rem;
}

.chat-button:hover {
  background-color: #ddd;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  margin: 2rem;
}

.gallery img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* Scroll to Top Button */
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  background-color: #002a44;
  color: #f8f8f8;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  z-index: 1000;
}

#scrollToTopBtn:hover {
  background-color: #005580;
  transform: scale(1.1);
}

#scrollToTopBtn.show {
  opacity: 1;
}

/* Subscribe Form */
.subscribe-form {
  background-color: #002a44;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.4rem;
  color: #f8f8f8;
}

.subscribe-form img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.subscribe-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #f8f8f8;
}

.subscribe-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.subscribe-form input[type="email"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #7c1728;
  border-radius: 4px;
  outline: none;
  color: #7c1728;
}

.subscribe-form input[type="email"]::placeholder {
  color: #7c1728;
  opacity: 0.6;
}

.subscribe-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f8f8f8;
  color: #7c1728;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.subscribe-form button:hover {
  background-color: #cccccc;
}

.subscribe-form p:nth-of-type(1) {
  font-size: 21px;
}

.subscribe-form p:nth-of-type(2) {
  font-size: 19px;
}

.subscribe-form p:nth-of-type(3) {
  font-size: 14px;
}